<section class="listing">
    <img class="listing-photo" src="assets/appointment.png" alt="Illustrative Image of Appointment">
    <h2 class="listing-heading">{{ appointment.date | date: 'dd-MMMM-yyyy' }}</h2>
    <p class="listing-location">Timing: {{ appointment.timing}}</p>
    <button (click)="confirmappointment()" class="booked">Confirm</button>
    <button (click)="cancelAppointment()" *ngIf="cancel == false" class="not-booked">Cancel</button>
    <p class="listing-location">{{ appointment.description }}</p>
  </section>
  