<input type="text" placeholder="Search Doctor" [(ngModel)]="searchQuery" (input)="searchDoctor()">

<div *ngIf="filteredReviews.length > 0">
  <div *ngFor="let review of filteredReviews">
    <h3>Doctor Name: {{ review.doctor.name }}</h3>
    <p>Patient Name: {{ review.patient.name }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>Review Text: {{ review.reviewText }}</p>
    <hr>
  </div>
</div>
<div *ngIf="filteredReviews.length === 0 && searchQuery">
  <p>No matching doctor found.</p>
</div>
