<main>
    <nav>
      <ul>
        <li>
      <a [routerLink]="['/doctor/']">
        Home
        </a>
        </li>
        <li>
      <a [routerLink]="['/doctor/doctor-appointment']">
        Appointments
      </a>
        </li>
        <li>
          <a *ngIf="!_authService.loggedIn()" [routerLink]="['/doctor/doctor-login']">
            Log In
          </a>
            </li>
        <li>
      <a *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" [routerLink]="['/doctor/doctor-login']" >
        Log out
      </a>
        </li>
      </ul>
    </nav>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
