.rating {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .rating span {
    color: gold;
    font-size: 2em;
    user-select: none;
  }
  .rating span:hover ~ span,
  .rating span:hover {
    color: black;
  }

  .rating span:hover{
    color:gold;
  }

  textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
  }
  button {
    display: block;
    width: 100%;
  }
  