<main>
    <nav>
      <ul>
        <li>
      <a [routerLink]="['/patient/']">
        Home
        </a>
        </li>
        <li>
      <a [routerLink]="['/patient/patient-dashboard']">
        Doctors 
      </a>
        </li>
        <li>
      <a [routerLink]="['/patient/appointments']">
        Appointments
      </a>
        </li>
        <li>
          <a *ngIf="!_authService.loggedIn()" [routerLink]="['/patient/patient-registration']">
            Register
          </a>
            </li>
            <li>
              <a *ngIf="!_authService.loggedIn()" [routerLink]="['/patient/login']">
                LogIn
              </a>
                </li>
        <li>
      <a *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" [routerLink]="['/patient/login']">
        Log out
      </a>
        </li>
      </ul>
    </nav>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
