<article>
    <img class="listing-photo" src="assets/{{doctor.name}}.jpg"
      alt="Photo of {{doctor.name}}"/>
    <section class="listing-description">
      <h2 class="listing-heading">{{doctor.name}}</h2>
      <p class="listing-location">Specialization: {{doctor.spec}}</p>
      <p class="listing-location">Rating: {{doctor.rating}}</p>
    </section>
    <section class="listing-apply">
      <h2 class="section-heading">Request for an appointment here</h2>
      
      <p> Fill your details and we will get back to you shortly</p>
      <br>
      <form>

        <label for="date">Date of Appointment (DD-MM-YYYY)</label>
        <input id="date" type="date" [(ngModel)]="this.appointment.date" [ngModelOptions]="{standalone: true}">

        <label for="timing">Time of appointment</label>
        <input id="timing" type="time" value="00:00:00" [(ngModel)]="this.appointment.timing" [ngModelOptions]="{standalone: true}">
        <label for="description">Description of Symptoms</label>
        <input id="description" type="text" [(ngModel)]="this.appointment.description" [ngModelOptions]="{standalone: true}">
        <button (click)="submitRequest()" class="primary" >Request Appointment</button>
      </form>
    </section>
  </article>